.navbar {
  /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
  background-color: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: fixed;
  top: 0rem;
  z-index: 999;
  width: 100%;
  transition: top 0.6s;
}
.navbar.active {
  /* background: linear-gradient(
    90deg,
    rgb(152, 0, 182) 0%,
    rgb(128, 1, 187) 100%
  ); */
  background-color: var(--primary);
}
.nav-hide {
  position: fixed;
  top: 0rem;
  background-color: transparent;
}
.nav-btn.active button {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}
.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  max-width: 1500px;
  margin: auto;
}

.navbar-logo {
  justify-self: start;
  margin-left: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 50vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 2rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile,
.nav-links-mobile-primary {
  display: none;
}

.menu-icon {
  display: none;
}
.nav-btn {
  margin: 0rem 1rem;
  margin-left: 2rem;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  .navbar {
    background-color: var(--raisin);
    position: sticky;
    height: 70px;
    /* background: linear-gradient(
      90deg,
      rgb(28, 27, 27) 0%,
      rgb(26, 23, 23) 100%
    ); */
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: var(--raisin);
    /* background: #1d2330; */
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.5); */
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.04);
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(25%, 50%); */
    height: auto;
    max-width: 20rem;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
    font-weight: bold;
  }
  .nav-links-mobile-primary {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--primary);
    /* background-color: rgb(178, 0, 214); */
    color: #fff;
    padding: 14px 20px;
    border: 1px solid var(--primary);
    /* border: 1px solid rgb(178, 0, 214); */
    transition: all 0.3s ease-out;
    font-weight: bold;
  }
}
